<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>WoRlDnOmAd Travel Planner</title>
    <!-- Meta Tags for HTML page. -->
    <meta charset="utf-8" />
    <meta name="description" content="A Travel Planner (WoRlDnOmAd)" />
    <meta name="keywords" content="Travel Planner, Multiple API, Full-Stack" />
    <meta name="author" content="Ahmed Ibrahim" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <header>
      <nav><h1>WoRlDnOmAd</h1></nav>
    </header>
    <main>
      <section class="form-section">
        <form>
          <label for="destination"> Destination:</label>
          <input
            id="destination"
            value=""
            type="text"
            name="city"
            placeholder="What is your desired destination?"
            required
          />
          <label for="start-date"> Start date:</label>
          <input
            id="start-date"
            value=""
            type="date"
            name="start-date"
            required
          />
          <label for="end-date"> End date:</label>
          <input id="end-date" value="" type="date" name="end-date" required />
          <label for="notes">Do you have notes on this trip?</label>
          <textarea
            id="notes"
            placeholder="Enter your notes here."
            rows="9"
            cols="52"
          ></textarea>
          <button id="submit-button" type="submit">Generate</button>
        </form>
      </section>
      <section id="results-section"></section>
    </main>
    <!-- Footer of page  -->
    <footer>
      <div id="footer-text">
        2021 &#169; WoRlDnOmAd INC. All Right reserved.
      </div>
    </footer>
    <script>
      // It checks that service workers are supported
      if ("serviceWorker" in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener("load", () => {
          navigator.serviceWorker.register("/service-worker.js");
        });
      }
    </script>
  </body>
</html>
