<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>WoRlDnOmAd Travel Planner</title>
    <!-- Meta Tags for HTML page. -->
    <meta charset="utf-8" />
    <meta name="description" content="A Travel Planner (WoRlDnOmAd)" />
    <meta name="keywords" content="Travel Planner, Multiple API, Full-Stack" />
    <meta name="author" content="Ahmed Ibrahim" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="WoRlDnOmAd" content="nofollow" />
  </head>
  <!-- header of page. -->
  <header>
    <nav><h1 id="website-title">WoRlDnOmAd</h1></nav>
  </header>
  <body>
    <!-- All sections of page. -->
    <main>
      <div id="app-container">
        <section id="form-section">
          <h2 class="section-title">
            Enter your trip data below to generate your report.
          </h2>
          <form id="input-section">
            <label for="destination"> Destination:</label>
            <input
              id="destination"
              value=""
              type="text"
              name="city"
              placeholder="What is your desired destination?"
              required
            />
            <label for="start-date"> Start Date:</label>
            <input
              id="start-date"
              value=""
              type="date"
              name="start-date"
              required
            />
            <label for="end-date"> End Date:</label>
            <input
              id="end-date"
              value=""
              type="date"
              name="end-date"
              required
            />
            <label for="notes">Do you have notes on this trip?</label>
            <textarea
              id="notes"
              placeholder="Enter your notes here."
              rows="9"
              cols="52"
              required
            ></textarea>
            <button id="submit-button" type="submit">Generate</button>
          </form>
        </section>
        <section id="results-section">
          <!-- <section id="first-results-section">
          <div id="pixabay-image"><img src="https://westborobeachcommunity.files.wordpress.com/2021/01/cropped-under-the-bridge-shot.jpg"></div>
          <div id="first-results-text">
            <p id="trip-result-title">Your Trip Results</p>
            <div id="current-date-results"><strong>Current Date: </strong>2021-03-31.</div>
            <div id="start-date-results"><strong>Start Date: </strong>2021-04-11.</div>
            <div id="end-date-results"><strong>End Date: </strong>2021-04-17.</div>
            <div id="countdown-results"><strong>Countdown: </strong>11 days remaining.</div>
            <div id="length-trip-results"><strong>Length of Trip: </strong>6 days.</div>
            <div id="destination-results"><strong>Destination: </strong>Ottawa.</div>
            <div id="country-results"><strong>Country: </strong>Canada.</div>
            <div id="latitude-results"><strong>Latitude: </strong>45.4215° N.</div>
            <div id="longitude-results"><strong>Longitude: </strong>75.6972° W.</div>
            <div id="notes-results">
              <strong>Notes: </strong>Let's enjoy the end of the school year!
            </div>
          </div>
        </section>
        <section id="second-results-section">
        <div class="weather-summary" id="second-results-block-0"> 
          <div id="day-index-results">Day 0</div>
          <div id="date-results">02/02/2021</div>
          <div id="weather-icon-results"><img src="https://www.weatherbit.io/static/img/icons/t01d.png"></div>
          <div id="temperature-results">25 &#8451</div>
          <div id="weather-description-results">Broken clouds</div>
        </div>
        <div class="weather-summary" id="second-results-block-1"> 
          <div id="day-index-results">Day 1</div>
          <div id="weather-icon-results"><img src="https://www.weatherbit.io/static/img/icons/t01d.png"></div>
          <div id="temperature-results">35 &#8451</div>
          <div id="weather-description-results">Broken clouds</div>
        </div>
        <div class="weather-summary" id="second-results-block-2"> 
          <div id="day-index-results">Day 2</div>
          <div id="weather-icon-results"><img src="https://www.weatherbit.io/static/img/icons/t01d.png"></div>
          <div id="temperature-results">15 &#8451</div>
          <div id="weather-description-results">Broken clouds</div>
        </div>
        </section>
        </section> -->
      </div>
    </main>
    <!-- Footer of page  -->
    <footer>
      <div id="footer-text">
        2021 &#169; WoRlDnOmAd INC. All Rights reserved.
      </div>
    </footer>
    <script>
      // It checks that service workers are supported
      if ("serviceWorker" in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener("load", () => {
          navigator.serviceWorker.register("/service-worker.js");
        });
      }
    </script>
  </body>
</html>
