footer {
  grid-area: footer;
  text-align: center;
  height: 4vh;
  width: 100%;
  bottom: 0;
  clear: both;
  position: relative; //toggle relative and fixed
}
  
#footer-text {
  color: whitesmoke;
  font-weight: bold;
  text-align: center;
  font-size: 30px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: darkmagenta;
}
