$primary-color: red;
$secondary-color: #f2f2f2;
$tertiary-color: darkgreen;

#form-section {
    grid-area: form;
    display: flex;
    justify-content:center;
    flex-direction:column;
    align-items: center;
    background-color: lightcoral;
    border: black solid 3px;
    border-radius: 5px;
    width: auto;
    padding: 2%;
}

#input-section {
    display: flex;
    justify-content:center;
    flex-direction:column;
    align-items: center;
}

#input-section > * {
    margin: 1%;
    width: 90%;
}

.section-title{
    font-size: 50px;
    margin:0;
    margin-bottom: 1%;
}

#submit-button{
    cursor: pointer;
    background-color: $primary-color;
    border-radius: 5px;
    color: $secondary-color;
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    font-weight: bold;
    margin: 1%;

    &:hover {
        background-color: $tertiary-color;
    }
}

input {
    background-color: $primary-color;
    border-radius: 5px;
    padding: 6px;
    color: $secondary-color;
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
    font-weight: bold;
    line-height: 16px;

    &:hover {
        background-color: $tertiary-color;
    }
}

#notes {
    background-color: red;
    color: $secondary-color;
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
    font-weight: bold;
    line-height: 16px;
    padding: 1%;

    &:hover {
        background-color: $tertiary-color;
    }
}

/* Style for Placeholder Text*/
::placeholder { 
    color: $secondary-color;
    font-size: 15px;
    font-weight: bold;
} 

