$primary-color: #5754ff;
$secondary-color: #f2f2f2;
$tertiary-color: darkmagenta;

header {
    align-items: center;
    height: 10vh;
}

#website-title {
  font-family: Monoton;
  font-size: 70px;
  margin: 0.2em; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: darkmagenta;
  text-align: center;
}

.nav-page {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
